<h1>New Place</h1>

<%= form_with(model: @place, local: true) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>