<!DOCTYPE html>
<html>
  <nav>
    <% if session[:user_id] %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %> |
      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </nav>

  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>
    
    <div>
      <a href="/">Home</a>
      <%= link_to "Logout", logout_path, method: :delete %> <!-- FIXED HERE -->
      <%= link_to "Login", login_path %>
      <%= link_to "Sign Up", signup_path %>
    </div>

    <%= yield %>
  </body>
</html>